<%= form_with url: sessions_path, scope: :user, local: true do |f| %>
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
  <header class="business-header bg-overlay ">
    <div class="container animated fadeIn  ">
      <div class="row">
        <div class="col-lg-12  text-center align">
          <div class="t15">
          </div>
          <div class="t60">
            <div class="card-body">
              <div class="container">
                <div class="d-flex justify-content-center h-100">
                  <div class="card tamanhoCard">
                    <div class="card-body padding2pc">
                      <form>
                        <label class="titleProperties">Log In</label>
                        <div class="form-container-2 padding2px">
                          <lable>
                          <%= f.text_field :email, class: 'inputCampos',
                          'aria-controls': 'email-helper-text',
                          'aria-describedby': 'email-helper-text', placeholder: "E-Mail" %>
                          </lable>
                        </div>
                        <div class="form-container-2 padding2px">
                          <label>
                            <%= f.password_field :password, class: 'inputCampos', placeholder: "Senha"  %>
                          </label>
                        </div>
                        <p id="email-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg padding2px" aria-hidden="true">
                          Um email é necessário
                        </p>
                        <div class="d-flex row propertiesRowLembrar">
                          <div class="remember">
                            <input type="checkbox">Lembrar
                          </div>
                          <a href="#">Esqueceu sua senha?</a>
                        </div>
                        <div class="spacing_buttons padding2px" style="width: 100%">
                          <%= f.submit 'Entrar', class: 'btn btn-success btn-block block displaybck'%>
                        </div>
                        <div class="row propertiesRowSocial">
                          <div class="tamanhoRowSocial">
                            <button style="" class="btn-block loginBtn loginBtn--facebook">
                              Login
                              <%= link_to "", auth_at_provider_path(:provider => :facebook) %>
                            </button>
                          </div>
                          <div class="tamanhoRowSocial">
                            <button style="" class="btn-block loginBtn loginBtn--google">
                              Login
                              <%= link_to "", auth_at_provider_path(:provider => :google) %>
                            </button>
                          </div>
                        </div>
                        <hr class="two">
                        <div class="d-flex justify-content-center links padding2px">
                          <%= link_to 'Registrar', new_user_path, class: 'btn btn-danger btn-block block displaybck' %>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
<style>
.waves-input-wrapper{
display: block !important;
}
</style>