
<header class="business-header bg-signin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12  text-center align">
        <div>
          <div class="card-body">
            <div class="container">
              <h3 class="titleProperties">SIGN IN</h3>
              <div class="d-flex justify-content-center h-100">
                <div class="card tamanhoCardSign">
                  <div class="card-body text-color">
                      <%= form_for @user do |f| %>
                    <div class="form-container-2">
                        <lable>
                            <%= f.text_field :first_name, :required => true, class: 'inputCampos', placeholder: "Nome" %>
                        </lable>
                    </div>

                    <div class="form-container-2">
                        <lable>
                            <%= f.text_field :last_name, :required => true, class: 'inputCampos', placeholder: "Sobrenome" %>
                        </lable>
                    </div>

                    <div class="form-container-2">
                        <lable>
                            <%= f.email_field :email, :required => true, class: 'inputCampos', placeholder: "E-Mail" %>
                        </lable>
                    </div>

                    <div class="form-container-2">
                        <lable>
                            <%= f.text_field :cpf, 'data-mask': '000.000.000-00', :required => true, class: 'inputCampos', placeholder: "CPF" %>
                        </lable>
                    </div>


                    <div class="form-container-2">
                        <lable>
                            <%= f.text_field :birth, 'data-mask': '00/00/0000', class: 'inputCampos', placeholder: "Data de Nascimento" %>
                        </lable>
                    </div>

                    <div class="form-container-2">
                        <lable>
                            <%= f.text_field :phone, 'data-mask': '(00) 00000-0000', class: 'inputCampos', placeholder: "Telefone" %>
                        </lable>
                    </div>



                      <div class="form-container-2">
                          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
                          <div class="pwstrength_viewport_progress"></div>
                      </div>

                    <div class="card-body row" style="margin: 0px !important;">
                      <div class="half" style="padding: 1%">
                        <%= link_to 'Voltar', :back, class: "btn btn-primary btn-lg btn-block" %>
                      </div>
                      <div class="half" style="padding: 1%">
                        <button type="submit" name="action" type="button" class="btn btn-success btn-lg btn-block">Concluir</button>
                      </div>
                    </div>
                    <% end %>
                    <div>
                      <% flash.each do |key, value| %>
                      <p style="color: red; text-align: right"><%= value %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
