<p><%= current_user.username %></p>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.email %></p>
<% if current_user %>
  <p><%= link_to user_path(current_user.id), method: 'delete',
              class:'btn-floating halfway-fab waves-effect waves-light logo-color-orange',
              data: {confirm: "Tem certeza que deseja excluir sua conta?"} do%>
    <i title="Deletar Conta" class="material-icons">delete</i>
  <% end %></p>
  <p><%= link_to 'deslogar', session_path(current_user.id), method: 'delete' %></p>
<% end %>