<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.email %></p>
<p>Minha chave: <%= current_user.api_access.key %></p>
<%= link_to 'Chaves de usuários', api_accesses_path %>
<br>
<%= link_to 'Aplicações OAUTH', oauth_applications_path %>
<br>
<%= link_to 'Atualizar Perfil', edit_user_path(current_user) %>