<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @news.tag %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @news.icon %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
