<%= form_with url: registrado_curso_path(params[:id]), scope: :registration do |f| %>
  <% @quiz_questions.each do |question| %>
    <p><%= question.question %></p>
    <% question.quiz_answers.each do |answer| %>
      <%= f.radio_button 'question'+question.id.to_s, answer.id %>
      <%= f.label 'question'+question.id.to_s, answer.answer %>
    <% end %>
  <% end %>
  <br>
  <%= f.submit 'Inscrever' %>
<% end %>