<div class="bgProperties" style="min-height: 110%;">
  <div class="tamPadding">
  <div class="txt-bg-properties">
    <label class="txt-properties" style="font-family: serif;"> INSCREVER-SE</label>
  </div>
    <div class="card-body" style=" background-color: rgba(0,0,0,0.3);">
      <%= form_with url: registrado_curso_path, scope: :registration, local: true do |f| %>
      <%= f.hidden_field :course_id, :value => @course.id %>
      <%= f.hidden_field :redirect, :value => @redirect %>
      <% @quiz_questions.each do |question| %>
        <div class="mdc-select" style="width: 100%; margin: 2px;">
          <%= f.select 'question' + question.id.to_s, options_for_select(question.quiz_answers.map {|answer| [answer.answer, answer.id]}), {}, {:class => 'mdc-select__native-control maxWidth'} %>
          <%= f.label 'question' + question.id.to_s, question.question, class: 'mdc-floating-label mdc-floating-label--float-above maxWidth' %>
          <div class="mdc-line-ripple"></div>
        </div>
      <br>
      <% end %>
      <br>
      <div class="propertiesButtonInscrever">
        <%= f.submit 'Inscrever', class: 'mdc-button mdc-button--raised btn-block', style: 'background-color: red;' %>
      </div>
      <% end %>
    </div>
  </div>
</div>